colorama==0.4.6
coloredlogs==15.0.1
et-xmlfile==1.1.0
humanfriendly==10.0
iniconfig==2.0.0
numpy==1.25.2
openpyxl==3.1.2
packaging==23.0
pandas==2.1.0
pluggy==1.0.0
pyreadline3==3.4.1
pytest==7.3.0
pytest-explicit==1.0.1
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tzdata==2023.3
